<h1>Список заказов</h1>

<form method="get" action="">
    <input type="text" name="q" value="{{ query }}" placeholder="Введите данные для поиска">
    <button type="submit">Найти</button>
</form>

<a href="{% url 'order_create' %}">Создать новый заказ</a>

<table>
    <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Книга</th>
        <th>Действия</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.name }}</td>
        <td>{{ order.phone_number }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.book.title }}</td>
        <td>
            <a href="{% url 'order_update' order.pk %}">Редактировать</a>
            <a href="{% url 'order_delete' order.pk %}">Удалить</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Нет заказов, соответствующих поиску.</td>
    </tr>
    {% endfor %}
</table>
