<h1>Список заказов</h1>
<a href="{% url 'order_create' %}">Создать новый заказ</a>
<table>
    <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Книга</th>
        <th>Действия</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.name }}</td>
        <td>{{ order.phone_number }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.book.title }}</td>
        <td>
            <a href="{% url 'order_update' order.pk %}">Редактировать</a>
            <a href="{% url 'order_delete' order.pk %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
